<section class="my-5">
  <div class="container">
    <div class="doctor-field">
      <div class="row gy-4">
        @for (doctor of doctorData(); track doctor.id) {
          <div class="col-md-3 col-6">
            <div class="card"  >
              <div class="card-img position-relative">
                <img [src]="'https://myclinicapp.runasp.net'+doctor.imageUrl" class="card-img-top  object-fit-cover" [alt]="doctor.firstName">
                <div class="layer position-absolute bottom-0 start-0 end-0 top-0 rounded-2 d-flex justify-content-center align-items-center">
                  <button [routerLink]="['/doctor-details',doctor.id]" class="my-3 bg-white sec-color border-0 px-3 py-2 rounded-2">أقرأ المزيد</button>
                </div>
              </div>
              <div class="mt-3">
                <p class="sec-color text-center"> د/ {{doctor.firstName}} {{doctor.lastName}} </p>
                <p class="para-color text-center"> {{doctor.specialty}} </p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
