<!-- ********************************************* -->
<div class="app-body">

  <!-- Row starts -->
  <div class="row gx-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title main-color fw-semibold">الأخبار</h5>
          <a class="px-4 py-2 rounded-2 bg-sec text-white ms-auto" routerLink="/add-news">إنشاء خبر</a>
        </div>
        <div class="card-body">

          <!-- Table starts -->
          <div class="table-responsive">
            <div id="basicExample_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div id="basicExample_filter" class="dataTables_filter">

                      <input type="text" class="rounded-2 border myBorder w-75 px-2 py-1 shadow-card" [(ngModel)]="searchTerm" (input)="filterNews()" placeholder="بحث عن الأخبار...">

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                <!-- شرط إذا لا يوجد بيانات -->
@if (displayedNews.length === 0) {
  <div class="text-center my-5">
    <img src="/Empty.gif" alt="لا توجد أخبار" class="mb-3 img-fluid" style="max-width: 400px;">
    <p class="fw-semibold text-muted fs-5">لا توجد أخبار لعرضها حاليًا</p>
  </div>
}
@else {
  <table id="basicExample" class="table mt-5 table-hover table-striped align-middle text-center shadow-sm rounded-3 overflow-hidden" aria-describedby="basicExample_info">
    <thead class="table-primary text-white">
      <tr>
        <th class="text-center w-10">#</th>
        <th class="text-center w-25">عنوان الخبر</th>
        <th class="text-center w-25">وصف الخبر</th>
        <th class="text-center w-25">تاريخ الخبر</th>
        <th class="text-center w-25">صورة الخبر</th>
        <th class="text-center w-25">الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      @for (newsItem of displayedNews; track newsItem.id) {
        <tr>
          <td class="text-center">{{ newsItem.id }}</td>
          <td class="text-center">{{ newsItem.title }}</td>
          <td class="text-center">{{ newsItem.content.split(' ').slice(0, 4).join(' ') }}...</td>
          <td class="text-center">{{ formatDateArabic(newsItem.createdAt) }}</td>
          <td>
            <img [src]="'https://myclinicapp.runasp.net/' + newsItem.image" class="clinic-img img-shadow rounded-1" [alt]="newsItem.title">
          </td>
          <td>
            <div class="d-inline-flex gap-1">
              <button class="btn btn-outline-success btn-sm"
                      (click)="patchValue(newsItem)"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="'#updateRow' + newsItem.id">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="'#delRow' + newsItem.id">
                <i class="fa-solid fa-trash-can"></i>
              </button>
              <a [routerLink]="['/news-details', newsItem.id]" class="btn btn-outline-info btn-sm">
                <i class="fa-regular fa-eye"></i>
              </a>
            </div>
          </td>
        </tr>
        <!-- Modal Delete Row -->
<div class="modal fade "
     [id]="'delRow' + newsItem.id"
     tabindex="-1"
     [attr.aria-labelledby]="'delRowLabel' + newsItem.id"
     aria-hidden="true">
  <div class="modal-dialog modal-sm bg-transparent">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="'delRowLabel' + newsItem.id">تأكيد الحذف</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">هل أنت متأكد أنك تريد حذف هذا الخبر؟</div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">إلغاء</button>
        <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteSpecficNews(newsItem.id)">حذف</button>
      </div>
    </div>
  </div>
</div>
         <!-- update news -->
              <div
                  class="modal fade"
                  [id]="'updateRow' + newsItem.id"
                  tabindex="-1"
                  aria-hidden="true"
                >
                  <div class="modal-dialog rounded-2">
                    <div class="modal-content border-0 text-center">
                      <!-- Close Button (Top Right) -->
                      <button
                        type="button"
                        class="btn-close position-absolute top-0 end-0 m-2"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>

                      <!-- Title -->
                      <h5 class="fw-bold my-5 text-dark">
                        تعديل البيانات الخاصة بالخبر !
                      </h5>
                      <form
                        class="mt-4"
                        [formGroup]="updateNewsForm"
                        (ngSubmit)="submitUpdateNewsForm(newsItem.id)"
                      >
                        <div class="row">
                          <div class="col-12">
                            <div class="form-floating mb-3">
                              <input
                                type="text"
                                class="form-control bg-transparent"
                                formControlName="title"
                                id="newsTitle"
                                placeholder="عنوان الخبر"
                              />
                              <label for="newsTitle" class="px-0 text-muted">عنوان الخبر</label>
                            </div>

                          </div>
                          <!-- news Image Upload -->
                          <div class="col-12">
                            <div class="form-floating mb-3">
                              <input
                                type="file"
                                class="form-control bg-transparent"
                                (change)="onFileSelected($event, newsItem.id)"
                                [formControlName]="'image'"
                                id="newsImage"
                                [attr.id]="'fileInput' + newsItem.id"
                              />
                              <label
                                for="newsImage"
                                class="px-0 text-muted"
                                >صورة الخبر</label
                              >
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-floating mb-3">
                              <textarea
                                class="form-control bg-transparent"
                                formControlName="content"
                                id="newsContent"
                                placeholder="محتوى الخبر"
                              ></textarea>
                              <label for="newsContent" class="px-0 text-muted">محتوى الخبر</label>
                            </div>
                          </div>

                          <!-- Submit Button -->
                          <div class="col-12">
                            <button
                              [disabled]="updateNewsForm.invalid"
                              type="sumbit"
                              data-bs-dismiss="modal"
                              class="my-3 bg-sec text-white border-0 w-100 py-2 rounded-2"
                            >
                              تعديل بيانات الخبر @if (isLoading) {
                              <span
                                ><i class="fas fa-spin fa-spinner"></i
                              ></span>
                              }
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          <!-- end update news -->
      }
    </tbody>
  </table>
}

          </div>
        </div>

      </div>
    </div>
          <!-- Table ends -->



        </div>

      </div>
    </div>
  </div>
  <!-- Row ends -->

</div>
