<div class="container mt-5">

  @if (nottificationEmpty) {
    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <img src="/Push notifications-rafiki.png" class="w-100" alt="No Notifications">
        <p class="mt-3 text-muted fs-5">لا توجد إشعارات جديدة.</p>
      </div>
    </div>
  }
  @else {
    @for (notification of notificationsData(); track notification.id) {
      <div class="card mb-3" [class.bg-light]="!notification.isRead">
        <div class="card-body">
          <h5 class="card-title text-danger">{{ notification.title }}</h5>
          <p class="card-text">{{ notification.body }}</p>

          <div class="form-check mt-3">
            <input class="form-check-input"
                   type="checkbox"
                   [checked]="notification.isRead"
                   [disabled]="notification.isRead"
                   id="flexCheck{{ notification.id }}"
                   (change)="markAsRead(notification.id)">
            <label class="form-check-label ms-2" for="flexCheck{{ notification.id }}">
              {{ notification.isRead ? 'تم تعليم كمقروء' : 'تعليم كمقروء' }}
            </label>
          </div>
        </div>
      </div>
    }
  }

</div>
