<div class="container mt-5">
  @if(nottificationEmpty){
    <div class="row">
      <div class="col-md-8 m-auto">
        <img src="/Push notifications-rafiki.png" class="w-100" alt="">
      </div>
    </div>
  }
  @else {
    @for (notification of notificationsData(); track notification.id) {
      <div class="card mb-3" [class.bg-light]="!notification.isRead">
        <div class="card-body">
          <h5 class="card-title text-danger">{{ notification.title }}</h5>
          <p class="card-text">{{ notification.body }}</p>

          <!-- Checkbox for mark as read -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   [checked]="notification.isRead"
                   [disabled]="notification.isRead"
                   id="flexCheck{{ notification.id }}"
                   (change)="markAsRead(notification.id)">
            <label class="form-check-label" for="flexCheck{{ notification.id }}">
              {{ notification.isRead ? 'تم تعليم كمقروء' : 'تعليم كمقروء' }}
            </label>
          </div>
        </div>
      </div>
    }

  }
</div>
