<!-- home first section -->
<section class="first-part-home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
  >
    <div class="carousel-indicators d-none">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <div class="main-sec sec1 d-flex align-items-center">
          <div class="caption container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <h1 class=" animate__animated">أهلاً ومرحباً بكم في الموقع الرسمي
                  <span>للإدارة الطبية</span>
                  بجامعة طنطا!
                </h1>
                <p class="animate__animated" >
                  يسرنا أن نقدم لكم خدماتنا الطبية المتكاملة لدعم صحة وسلامة
                  طلابنا
                  <br>
                   وأعضاء هيئة التدريس والعاملين بالجامعة.
                </p>
                <div class="button">
                  <a class="btn btn1 text-white" href="#" role="button">احجز ميعاد</a>
                  <a class="btn btn2 text-white" href="#" role="button">من نحن</a>
                </div>
               </div>
             </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <div class="main-sec sec2 d-flex align-items-center">
          <div class="caption container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <h1 class=" animate__animated"> <span>  الإدارة الطبية </span>:
                  شريككم في رحلة صحية <br>آمنة

                  داخل الحرم <span>الجامعي.</span>
                </h1>
                <p class="animate__animated" >
                  نظام الإدارة الطبية بجامعة طنطا يتيح لك الوصول إلى الخدمات الصحية<br> بسهولة وكفاءة،
                   مع ضمان تقديم الرعاية الصحية بأعلى جودة.
                </p>
                <div class="button">
                  <a class="btn btn1 text-white" href="#" role="button">احجز ميعاد</a>
                  <a class="btn btn2 text-white" href="#" role="button">تواصل معنا</a>
                </div>
               </div>
             </div>
          </div>
        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon fs-5 text-white" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon fs-5 text-white" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- end of home first section -->


<!-- start secoond section -->
<section class="schedule">
  <div class="container">
    <div class="schedule-inner">
      <div class="row gy-3">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">حالات الطوارئ الطبية</span>
              <h4 class="text-white">حالات الطوارئ</h4>
              <p class="text-white">نحن هنا لخدمتكم خلال ساعات العمل الأساسية للحالات الطبية الطارئة. لا تترددوا في طلب المساعدة عند الحاجة نحن هنا دائما.</p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
              <i class="fa fa-ambulance"></i>
            </div>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">جدول مواعيد الأطباء</span>
              <h4 class="text-white">مواعيد الإطباء</h4>
              <p class="text-white">استعرض جدول الأطباء واحجز موعدك مسبقًا لتجنب الانتظار. لأن صحتك تهمنا، نوفر لك أفضل الأطباء بأفضل الأوقات.
              </p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
                <i class="fa-regular fa-calendar-check"></i>
            </div>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">خدمات الصيدلية</span>
              <h4 class="text-white">الصيدلية</h4>
              <p class="text-white">تقدم الصيدلية خدمات صرف الأدوية للطلاب بعد الكشف الطبي. نحن هنا لضمان حصولكم على العلاج المناسب بسرعة وسهولة.</p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
                <i class="fa-solid fa-pills"></i>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- end second section -->
<!-- home first section -->
<section class="first-part-home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
  >
    <div class="carousel-indicators d-none">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <div class="main-sec sec1 d-flex align-items-center">
          <div class="caption container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <h1 class=" animate__animated">أهلاً ومرحباً بكم في الموقع الرسمي
                  <span>للإدارة الطبية</span>
                  بجامعة طنطا!
                </h1>
                <p class="animate__animated" >
                  يسرنا أن نقدم لكم خدماتنا الطبية المتكاملة لدعم صحة وسلامة
                  طلابنا
                  <br>
                   وأعضاء هيئة التدريس والعاملين بالجامعة.
                </p>
                <div class="button">
                  <a class="btn btn1 text-white" href="#" role="button">احجز ميعاد</a>
                  <a class="btn btn2 text-white" href="#" role="button">من نحن</a>
                </div>
               </div>
             </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <div class="main-sec sec2 d-flex align-items-center">
          <div class="caption container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <h1 class=" animate__animated"> <span>  الإدارة الطبية </span>:
                  شريككم في رحلة صحية <br>آمنة

                  داخل الحرم <span>الجامعي.</span>
                </h1>
                <p class="animate__animated" >
                  نظام الإدارة الطبية بجامعة طنطا يتيح لك الوصول إلى الخدمات الصحية<br> بسهولة وكفاءة،
                   مع ضمان تقديم الرعاية الصحية بأعلى جودة.
                </p>
                <div class="button">
                  <a class="btn btn1 text-white" href="#" role="button">احجز ميعاد</a>
                  <a class="btn btn2 text-white" href="#" role="button">تواصل معنا</a>
                </div>
               </div>
             </div>
          </div>
        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon fs-5 text-white" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon fs-5 text-white" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- end of home first section -->


<!-- start secoond section -->
<section class="schedule">
  <div class="container">
    <div class="schedule-inner">
      <div class="row gy-3">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">حالات الطوارئ الطبية</span>
              <h4 class="text-white">حالات الطوارئ</h4>
              <p class="text-white">نحن هنا لخدمتكم خلال ساعات العمل الأساسية للحالات الطبية الطارئة. لا تترددوا في طلب المساعدة عند الحاجة نحن هنا دائما.</p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
              <i class="fa fa-ambulance"></i>
            </div>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">جدول مواعيد الأطباء</span>
              <h4 class="text-white">مواعيد الإطباء</h4>
              <p class="text-white">استعرض جدول الأطباء واحجز موعدك مسبقًا لتجنب الانتظار. لأن صحتك تهمنا، نوفر لك أفضل الأطباء بأفضل الأوقات.
              </p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
                <i class="fa-regular fa-calendar-check"></i>
            </div>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">خدمات الصيدلية</span>
              <h4 class="text-white">الصيدلية</h4>
              <p class="text-white">تقدم الصيدلية خدمات صرف الأدوية للطلاب بعد الكشف الطبي. نحن هنا لضمان حصولكم على العلاج المناسب بسرعة وسهولة.</p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
                <i class="fa-solid fa-pills"></i>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- end second section -->
<!-- home first section -->
<section class="first-part-home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
  >
    <div class="carousel-indicators d-none">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <div class="main-sec sec1 d-flex align-items-center">
          <div class="caption container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <h1 class=" animate__animated">أهلاً ومرحباً بكم في الموقع الرسمي
                  <span>للإدارة الطبية</span>
                  بجامعة طنطا!
                </h1>
                <p class="animate__animated" >
                  يسرنا أن نقدم لكم خدماتنا الطبية المتكاملة لدعم صحة وسلامة
                  طلابنا
                  <br>
                   وأعضاء هيئة التدريس والعاملين بالجامعة.
                </p>
                <div class="button">
                  <a class="btn btn1 text-white" href="#" role="button">احجز ميعاد</a>
                  <a class="btn btn2 text-white" href="#" role="button">من نحن</a>
                </div>
               </div>
             </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <div class="main-sec sec2 d-flex align-items-center">
          <div class="caption container">
            <div class="row">
              <div class="col-12 col-lg-8">
                <h1 class=" animate__animated"> <span>  الإدارة الطبية </span>:
                  شريككم في رحلة صحية <br>آمنة

                  داخل الحرم <span>الجامعي.</span>
                </h1>
                <p class="animate__animated" >
                  نظام الإدارة الطبية بجامعة طنطا يتيح لك الوصول إلى الخدمات الصحية<br> بسهولة وكفاءة،
                   مع ضمان تقديم الرعاية الصحية بأعلى جودة.
                </p>
                <div class="button">
                  <a class="btn btn1 text-white" href="#" role="button">احجز ميعاد</a>
                  <a class="btn btn2 text-white" href="#" role="button">تواصل معنا</a>
                </div>
               </div>
             </div>
          </div>
        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon fs-5 text-white" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon fs-5 text-white" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- end of home first section -->


<!-- start secoond section -->
<section class="schedule">
  <div class="container">
    <div class="schedule-inner">
      <div class="row gy-3">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">حالات الطوارئ الطبية</span>
              <h4 class="text-white">حالات الطوارئ</h4>
              <p class="text-white">نحن هنا لخدمتكم خلال ساعات العمل الأساسية للحالات الطبية الطارئة. لا تترددوا في طلب المساعدة عند الحاجة نحن هنا دائما.</p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
              <i class="fa fa-ambulance"></i>
            </div>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">جدول مواعيد الأطباء</span>
              <h4 class="text-white">مواعيد الإطباء</h4>
              <p class="text-white">استعرض جدول الأطباء واحجز موعدك مسبقًا لتجنب الانتظار. لأن صحتك تهمنا، نوفر لك أفضل الأطباء بأفضل الأوقات.
              </p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
                <i class="fa-regular fa-calendar-check"></i>
            </div>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-schedule first rounded-3 p-4 overflow-hidden">
            <div class="inner position-relative">
            <div class="single-content">
              <span class="text-white">خدمات الصيدلية</span>
              <h4 class="text-white">الصيدلية</h4>
              <p class="text-white">تقدم الصيدلية خدمات صرف الأدوية للطلاب بعد الكشف الطبي. نحن هنا لضمان حصولكم على العلاج المناسب بسرعة وسهولة.</p>
              <a href="#" class="text-white text-decoration-none"> اقرأ  المزيد<i class=" ms-2 fa fa-long-arrow-left"></i>
              </a>
            </div>
              <div class="icon display-1">
                <i class="fa-solid fa-pills"></i>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- end second section -->
