<div class="Top overlay">
<div class="container">

    <div class="inner text-center">

        <div class="row">
            <div class="col-12">
                <h2>معلومات عنا</h2>
                <ul class="list ">
                    <li><a routerLink="/home">الرئيسية</a></li>
                    <li class="ms-2 me-2"> <i class="fa-solid fa-angle-left"></i> </li>
                    <li class="active">معلومات عنا</li>
                </ul>
            </div>
        </div>

    </div>
</div>

</div>

<!-- ------------------------------------------------ -->

<div class="about ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 ">
                <div class="about-content">
                    <span>معلومات عنا</span>
                    <h2 class="my-2">في إطار التعاون بين مختلف التخصصات لخدمة الطالب الجامعي، قام فريق من طلاب كلية الحاسبات والمعلومات بجامعة طنطا بتصميم وتنفيذ موقع إلكتروني وتطبيق خاص بالإدارة الطبية بمجمع كليات سبرباي، وذلك كمشروع تخرج لعام 2025.</h2>
                    <p class="my-2">يهدف هذا المشروع إلى تطوير وتحسين آليات تقديم الخدمات الطبية من خلال التحول الرقمي، بما يسهم في تسهيل الوصول إلى العيادات المختلفة، تنظيم المواعيد، وتحسين جودة الخدمة المقدمة للطلاب.</p>
                    <ul class="mt-4">
                        <li><i class="fa-solid fa-check"></i>
                            تسهيل وصول الطلاب إلى الخدمات الطبية إلكترونيًا.
                        </li>
                        <li><i class="fa-solid fa-check"></i>
                          تحسين بيئة العمل والتنظيم داخل الإدارة الطبية.
                        </li>
                        <li><i class="fa-solid fa-check"></i>
                          تقديم واجهة تفاعلية حديثة تسهّل عملية الحجز والاستعلام.
                        </li>
                        <li><i class="fa-solid fa-check"></i>
                          دعم توجه الجامعة نحو التحول الرقمي.
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------ -->

<div class="message ">

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <h3>مهمتنا</h3>
                    <p class="my-3">نلتزم بتطوير حلول رقمية متكاملة تدعم تقديم الخدمات الطبية داخل الجامعة، من خلال تصميم موقع وتطبيق للإدارة الطبية، بهدف تسهيل الوصول للخدمات، وتحسين الكفاءة، ودعم التحول الرقمي بالتعاون مع الجهات المعنية.</p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <h3>رؤيتنا</h3>
                    <p class="my-3">نسعى إلى تمكين التحول الرقمي في الخدمات الطبية الجامعية لبناء مجتمع طلابي صحي ومزدهر، من خلال نظام تقني متكامل يدعم العدالة، والكفاءة، والجودة، ليكون نموذجًا رياديًا على مستوى المنطقة.</p>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <h3>تخطيطنا</h3>
                    <p class="my-3">نطور حلولًا رقمية مخصصة لتسهيل وصول الطلاب للخدمات الطبية، وضمان تقديم رعاية فعالة وعالية الجودة.</p>

                </div>

            </div>



        </div>
    </div>

</div>

<!-- ------------------------------------------------ -->

<div class="mission ">

    <div class="container-fluid p-0">
        <div class="row m-0">

            <div class="col-lg-6 col-md-12 ">
                <div class="our-mission-content ">
                    <span class="sub-title">مهمتنا &amp; رؤيتنا</span>
                    <h2>معلومات أفضل، صحة أفضل</h2>
                    <p>نهدف إلى دعم الخدمات الطبية المقدمة للطلاب من خلال تطوير نظام رقمي شامل يسهل تقديم الرعاية الوقائية والعلاجية بكفاءة. يعرض النظام التخصصات الطبية المتاحة داخل عيادات الإدارة الطبية، ويتيح تحويل الحالات إلى المستشفيات المتعاقدة عند الحاجة. كما يساهم في تنظيم العمل بين الأطباء والممرضين والفنيين والمتخصصين، لتحقيق أفضل مستوى من الخدمة والحفاظ على صحة وسلامة الطلاب.
                        </p>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="icofont-group-students"></i>

                                </div>
                                <span>فريق عمل متميز</span>
                                فريقنا الطلابي يتميز بالكفاءة والاحتراف في تطوير الحلول الرقمية، لضمان دعم الخدمات الصحية بأعلى مستويات الجودة والتقنية.
                            </li>

                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-child"></i>
                                </div>
                                <span>الرعاية النفسية للطلاب</span>
                                نوفر دعمًا نفسيًا من خلال خدمات استشارية متخصصة تهدف إلى تعزيز الصحة النفسية والرفاهية لطلاب الجامعة في بيئة آمنة وسرية.
                            </li>



                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-flask-vial"></i>                                </div>
                                <span>خدمات التحاليل الطبية الرقمية</span>
                                يتيح النظام حجز مواعيد التحاليل الطبية بسهولة، ومتابعة النتائج بدقة وجودة عالية، لتلبية احتياجات الطلاب ضمن بيئة صحية متكاملة.
                            </li>

                            <li>
                                <div class="icon">
                                    <i class="icofont-group-students"></i>
                                </div>
                                <span> الكشف العام للطلاب</span>
                                نُقدم خدمة الكشف الطبي العام لتقييم الحالة الصحية للطلاب، وتسهيل إجراءات القبول أو المتابعة الصحية من خلال النظام الإلكتروني.
                            </li>


                        </ul>
                </div>
            </div>


            <div class="col-lg-6 col-md-12 ">
                <div class="our-mission-image"></div>
            </div>

        </div>
    </div>


</div>
