<!-- home first section -->
<section class="first-part-home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="main-sec d-flex align-items-center" style="background-image: url(home1.png);">
          <div class="caption container">
            <h1 class="text-color position-relative fw-semibold mt-4 mt-md-5 animate__animated  animate__fadeInUp animate__delay-1s">مرحباً بكم في الإدارة الطبية الخاصة بجامعة طنطا !</h1>
            <p class="fs-5 mt-2 mt-md-5 text-color  animate__animated   animate__fadeInUp animate__delay-2s " >
              نظام الإدارة الطبية بجامعة طنطا يتيح لك الوصول إلى الخدمات الصحية بسهولة وكفاءة،<br> مع ضمان تقديم الرعاية الصحية بأعلى جودة. <br>
            </p>
            <button class="btn btn1 btn-res bg-main text-white mt-3 animate__animated  animate__fadeInDown animate__delay-3s"><span class="fw-bold ps-2 pe-2">احجز الأن </span></button>
            <button class="btn btn2 btn-who bg-main btn-info text-white mt-3 ms-3 animate__animated  animate__fadeInDown animate__delay-3s"><span class="ps-2 pe-2 fw-bold"> من  نحن </span></button>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <div class="main-sec d-flex align-items-center" style="background-image: url(home2.png);">
          <div class="caption container">
            <h1 class="text-color position-relative fw-semibold mt-4 mt-md-5 animate__animated  animate__fadeInUp animate__delay-1s">مرحباً بكم في الإدارة الطبية الخاصة بجامعة طنطا !</h1>
            <p class="fs-5 mt-2 mt-md-5 text-color  animate__animated   animate__fadeInUp animate__delay-2s " >
              نظام الإدارة الطبية بجامعة طنطا يتيح لك الوصول إلى الخدمات الصحية بسهولة وكفاءة،<br> مع ضمان تقديم الرعاية الصحية بأعلى جودة. <br>
            </p>
            <button class="btn btn1 btn-res bg-main text-white mt-3 animate__animated  animate__fadeInDown animate__delay-3s"><span class="fw-bold ps-2 pe-2">احجز الأن </span></button>
            <button class="btn btn2 btn-who bg-main btn-info text-white mt-3 ms-3 animate__animated  animate__fadeInDown animate__delay-3s"><span class="ps-2 pe-2 fw-bold"> تواصل معنا </span></button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="main-sec d-flex align-items-center" style="background-image: url(home3.jpg);">
          <div class="caption container">
            <h1 class="text-color position-relative fw-semibold mt-4 mt-md-5 animate__animated  animate__fadeInUp animate__delay-1s">مرحباً بكم في الإدارة الطبية الخاصة بجامعة طنطا !</h1>
            <p class="fs-5 mt-2 mt-md-5 text-color  animate__animated   animate__fadeInUp animate__delay-2s " >
              نظام الإدارة الطبية بجامعة طنطا يتيح لك الوصول إلى الخدمات الصحية بسهولة وكفاءة،<br> مع ضمان تقديم الرعاية الصحية بأعلى جودة. <br>
            </p>
            <button class="btn btn1 btn-res bg-main text-white mt-3 animate__animated  animate__fadeInDown animate__delay-3s"><span class="fw-bold ps-2 pe-2">احجز الأن </span></button>
            <button class="btn btn2 btn-who bg-main btn-info text-white mt-3 ms-3 animate__animated  animate__fadeInDown animate__delay-3s"><span class="ps-2 pe-2 fw-bold"> اقرأ المزيد</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of home first section -->

<!-- start second section -->
<section class="sec-part-home">
    <div class="container">
          <div class="sec-part-cap text-center">
            <h2 class="fs-4 p-2 pe-4 ps-4 rounded-3 m-auto">رعايتك الصحية أولويتنا</h2>
            <p class="fs-4 fw-bold m-auto mt-3">نوفر لك كل ما تحتاجه من معلومات عن خدماتنا الطبية.</p>
          </div>
          <div class="row mt-5 gy-3">
            <div class="col-md-4">
                <div class="inner-card">
                  <div class="card bg-primary border-primary p-2 border-white shadow">
                    <div class="card-body text-center">
                      <div class="card-icon rounded-circle d-flex justify-content-center m-auto">
                      <span class="d-block d-flex justify-content-center align-items-center">
                        <i class="fs-3 fas text-white fa-ambulance"></i>
                      </span>
                      </div>
                      <h5 class="card-title mt-4 fw-medium text-white fs-4 position-relative">حالات الطوارئ</h5>
                      <p class="card-text text-white mt-3">نحن نقدم المساعدة الفورية لحالات الطوارئ، مع فريق جاهز على مدار الساعة طوال أيام الأسبوع لضمان سلامتك وصحتك.</p>
                      <a href="#" class="text-primary btn bg-white fw-semibold ps-3 pe-3">اقرأ المزيد</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-card">
                  <div class="card bg-primary border-primary p-2 border-white shadow">
                    <div class="card-body text-center">
                      <div class="card-icon rounded-circle d-flex justify-content-center m-auto">
                      <span class="d-block d-flex justify-content-center align-items-center">
                        <i class="text-white fs-3 fa-solid fa-notes-medical"></i>
                      </span>
                      </div>
                      <h5 class="card-title mt-4 fw-medium text-white fs-4 position-relative">مواعيد الأطباء</h5>
                      <p class="card-text text-white mt-3">أطباؤنا متاحون في أوقات محددة للاستشارات، مما يضمن لك الحصول على المشورة المتخصصة والرعاية في الوقت المناسب لك.</p>
                      <a href="#" class="text-primary btn bg-white fw-semibold ps-3 pe-3">جدول العيادة</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-card">
                  <div class="card bg-primary border-primary p-2 border-white shadow">
                    <div class="card-body text-center">
                      <div class="card-icon rounded-circle d-flex justify-content-center m-auto">
                      <span class="d-block d-flex justify-content-center align-items-center">
                        <i class="fs-3 text-white fa-solid fa-user-doctor"></i>
                      </span>
                      </div>
                      <h5 class="card-title mt-4 fw-medium text-white fs-4 position-relative">ساعات العمل</h5>
                      <p class="card-text text-white mt-3">أطباؤنا متاحون في أوقات محددة للاستشارات، مما يضمن لك الحصول على المشورة المتخصصة والرعاية في الوقت المناسب لك.</p>
                      <a href="#" class="text-primary btn bg-white fw-semibold ps-3 pe-3">احجز الأن</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
</section>
<!-- end second section -->

<!--start section clincs -->
<section class="clincs container">
  <owl-carousel-o [options]="customOptions">
        @for (item of imgs ; track $index) {
          <ng-template carouselSlide>
            <div class="ms-1 me-1">
              <img [src]="item" alt="clinic-img">
            </div>
          </ng-template>
        }
  </owl-carousel-o>
  jkjlkjlkjkljlkj
</section>
<!-- end section clincs -->


